ALCHEMY_API_KEY=
GOERLI_PRIVATE_KEY=
ETHERSCAN_API_KEY=
PINATA_API_KEY=93ced2452b8851bbbdd6
PINATA_API_SECRET=8f6bc7778070348920db99f6b307358ae4af6dbec0dd684a2ddea3c3a546d473
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmZjYxYzllZS0wZmE1LTQ4M2MtYmYzOC1kMjU2NTM1ZDQ5OTYiLCJlbWFpbCI6Indvb25qYW5nYWhuQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI5M2NlZDI0NTJiODg1MWJiYmRkNiIsInNjb3BlZEtleVNlY3JldCI6IjhmNmJjNzc3ODA3MDM0ODkyMGRiOTlmNmIzMDczNThhZTRhZjZkYmVjMGRkNjg0YTJkZGVhM2MzYTU0NmQ0NzMiLCJpYXQiOjE2NzczMTIwMzd9.fiCiaRiUlTFiU5sBC_5jtzMii8Mdc2I_vM40qVYmfKg
