# Compiler files
cache/
out/
bin/

# Ignores broadcast logs
broadcast/

# Dotenv file
.env

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Hardhat files
node_modules
coverage
coverage.json
typechain
typechain-types
artifacts
cache_hardhat

